@import "../libs";

.nav-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
}

.nav-container {
	width: 100%;
	max-width: $base-width;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	gap: 2rem;

	.logo {
		flex: 1;
	}

	@include if-small-device {
		.logo {
			flex: 1;

			svg {
				width: 100px;
			}
		}
	}

	// 플랫폼 선택
	.platform-select {
		display: flex;
		flex: 1;
		justify-content: space-around;
		align-items: center;
		position: relative;
		width: 30%;
		padding: 8px;
		border-radius: $base-border-radius;
		border: 1px solid $color-light-grey;

		span {
			.fa-caret-down {
				font-size: 1.5rem;
			}
		}
	}

	@include if-small-device {
		.platform-select {
			width: 30%;
			padding: 0;
			justify-content: space-evenly;

			span {
				image {
					width: 160px;
				}
			}

			.platform-name {
				display: none;
			}
		}
	}

	.platform-select:hover {
		cursor: pointer;
		border: 1px solid $color-middle-grey;
	}

	.platform-collapse {
		position: absolute;
		width: 100%;
		z-index: 4;
		top: 105%;
		left: 0;
		background-color: $color-white;
		padding: 8px;
		border-radius: $base-border-radius;
		border: 1px solid $color-light-grey;

		li {
			padding: 2px 1rem;
			transition: 0.1s;

			a {
				display: flex;
				align-items: center;
				gap: 1rem;

				svg {
					width: 40px;
				}

				p {
					margin: 0;
					text-align: center;
					flex: 1;
				}
			}

			@include if-small-device {
				a {
					justify-content: center;
				}
			}
		}

		li:hover {
			cursor: pointer;
			background-color: $color-light-grey;
			border-radius: $base-border-radius;
			transition: 0.2s;
		}
	}

	.login-container {
		display: flex;
		flex: 1;
		justify-content: end;

		span {
			cursor: pointer;
			color: $color-primary;
			background-color: $color-more-light-grey;
			padding: 8px 1rem;
			border-radius: $base-border-radius;
			transition: 0.2s;
		}

		span:hover {
			background-color: $color-light-grey;
			transition: 0.2s;
		}

		@include if-small-device {
			span {
				font-size: 0.9rem;
			}
		}

		.nickname-btn {
			background-color: $color-primary;
			border: 0;
		}
	}
}
