@import '../libs';

.search-modal-container {
	max-height: $search-modal-max-height;
	max-width: $search-modal-max-width;
	margin: 0 auto;

	.search-header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		font-size: 1.2em;
		border-bottom: 1px solid $color-middle-grey;
		width: 100%;

		.search-input {
			border: $color-black 2px solid;
			width: 100%;
			border-radius: 500px;
			max-width: 30em;
			font-size: 0.9em;
			padding: 0.5em 1.5em;
			&:focus {
				outline: none;
			}
		}
	}

	.search-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;

		.search-contents {
			margin: 0;
			max-height: 800px;
			width: 100%;
			flex: 1 1;
			overflow-y: scroll;
			padding: 1rem;
			@include if-small-device {
				padding: 0;
			}

			.matching-webtoon-list {
				padding: 1rem;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				max-height: 650px;
			}
			.no-search-result {
				text-align: center;
				padding: 2rem 0 1rem 0;
			}
		}
	}
}
