@import "../libs";

.search-modal-container {
	max-width: $search-modal-max-width;
	height: $search-modal-max-height;
	max-height: $search-modal-max-height;

	.modal-content {
		height: 100%;

		.modal-header {
			border-bottom: 0;
		}

		.search-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;

			.search-header {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.8em 3em;
				font-size: 1.2em;
				border-bottom: 1px solid $color-middle-grey;
				width: 100%;

				.search-input {
					border: $color-black 2px solid;
					width: 100%;
					border-radius: 500px;
					max-width: 30em;
					font-size: 0.9em;
					padding: 0.5em 1.5em;
					&:focus {
						outline: none;
					}
				}
			}

			.search-contents {
				margin: 0;
				max-height: 800px;
				width: 80%;
				flex: 1 1;
				overflow-y: scroll;
				padding: 1rem;

				.matching-keyword-list {
					display: flex;
					flex-direction: column;
					padding: 0;
					margin: 0;
					gap: 0.5em;

					.searched-item-wrap {
						background-color: $color-black;

						.searched-item {
							background-color: $color-white;
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 0.5em;
							padding: 0 0.4em;
							transition: margin-left 0.3s;
							@include hover {
								margin-left: 0.5em;
							}

							.searched-title,
							.searched-author {
								cursor: pointer;
								text-decoration: none;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								display: block;
							}

							.searched-title {
								color: $color-black;
								&:hover {
									color: $color-black;
								}
							}

							.searched-author {
								background-color: $color-black;
								color: $color-white;
								border-radius: $color-light-grey;
								padding: 0.2em 0.4em;
								font-size: 0.7em;
								max-width: 15em;
								&:hover {
									color: $color-white;
								}
							}
						}
					}
				}

				.matching-webtoon-list {
					padding: 1rem;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					max-height: 650px;
				}
			}
		}
	}
}
