@import "../libs";

.mywebtoon-container {
	max-width: 40em;
	margin: 0 auto;
	padding: 10rem 1rem;

	.mywebtoon-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 2rem;
		@include if-small-device {
			justify-content: center;
		}

		.webtoon-card {
			width: 45%;
			transition: 0.2s;
			@include if-small-device {
				width: 80%;
				transition: 0.2s;
			}
		}

		.webtoon-card:hover {
			cursor: pointer;
			transform: scale(1.02);
			transition: 0.2s;
		}
	}

	.webtoon-list-empty {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: center;
		padding: 8rem 0;

		h2 {
			margin-bottom: 10px;
		}

		.mywebtoon-save-btn {
			border: 0;
			border-radius: 8px;
			color: $color-white;
			background-color: $color-primary;
			padding: 8px 2rem;
		}
	}
}
