@import "../libs";

main {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
}

.contents-container {
	width: 100%;
	max-width: $base-width;
}

// 플랫폼 선택 컨테이터
.platform-select-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.platform-select {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		width: 30%;
		padding: 8px;
		border-radius: $base-border-radius;
		border: 1px solid $color-light-grey;

		span {
			.fa-caret-down {
				font-size: 2rem;
			}
		}
	}

	.platform-select:hover {
		cursor: pointer;
		border: 1px solid $color-middle-grey;
	}

	.platform-collapse {
		position: absolute;
		width: 100%;
		z-index: 4;
		top: 105%;
		left: 0;
		background-color: $color-white;
		padding: 8px;
		border-radius: $base-border-radius;
		border: 1px solid $color-light-grey;

		li {
			padding: 2px 1rem;
			transition: 0.1s;

			a {
				display: flex;
				align-items: center;
				gap: 1rem;

				svg {
					width: 40px;
				}

				p {
					margin: 0;
					text-align: center;
					flex: 1;
				}
			}
		}

		li:hover {
			cursor: pointer;
			background-color: $color-light-grey;
			border-radius: $base-border-radius;
			transition: 0.2s;
		}
	}

	.search {
		span {
			color: $color-black;
			font-size: 2rem;
			margin-right: 1rem;
		}

		span:hover {
			cursor: pointer;
			color: $color-dark-grey;
		}
	}
}

// 요일 nav
.week-list-wrap {
	display: flex;
	justify-content: space-around;
	padding: 1em;

	li {
		flex: 1;
		text-align: center;

		a {
			font-size: 1.2rem;
			font-weight: 400;
			padding-bottom: 14px;
			display: block;
		}

		a:hover {
			color: $color-primary;
			transition: 0.1s;
			border-bottom: 4px solid $color-primary;
		}

		.active {
			font-weight: bold;
			color: $color-primary;
			border-bottom: 4px solid $color-primary;
		}
	}
}

.webtoon-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
