@import "../libs";

main {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
	margin-top: 150px;
}

@include if-small-device {
	main {
		margin-top: 200px;
	}
}

.contents-container {
	width: 100%;
	max-width: $base-width;
}

.webtoon-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
