@import "../../libs";

.create-board-container {
	position: fixed;
	bottom: 4rem;
	right: 4rem;

	@include if-small-device {
		bottom: 3rem;
		right: 1rem;
	}

	.create-board-btn {
		background-color: #ff5500;
		padding: 8px;
		border-radius: 50%;
		box-shadow: 0px 1px 6px 0px #616160;
		color: $color-white;
	}

	.create-board-btn:hover {
		cursor: pointer;
	}
}

// 글 작성 Modal
.create-board-modal-container {
	.create-board-input {
		margin-bottom: 1rem;

		// 웹툰 선택 컨테이너
		.selected-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 1rem;

			.selected-img {
				position: relative;

				.deleted-img {
					position: absolute;
					right: -14px;
					top: -14px;

					svg {
						width: 28px;
						height: 28px;
						color: $color-primary;
						background-color: $color-white;
						border-radius: 50%;
					}
				}
			}

			.searched-title {
				font-weight: bold;
				margin-top: 4px;
			}
		}
	}

	// 검색 후 나오는 리스트
	.search-result {
		margin-bottom: 1rem;
		display: flex;
		justify-content: flex-start;
		gap: 1rem;
		overflow-x: scroll;

		.no-search-result {
			text-align: center;
		}

		.searched-item-wrap {
			.searched-item {
				display: flex;
				flex-direction: column;
				align-items: center;

				.searched-title {
					max-width: 80px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					font-weight: bold;
					margin-top: 4px;
				}
			}
		}
	}

	.create-board-btn {
		button {
			width: 100%;
			@include button-style($color-primary, $color-primary-btn-hover);
		}
	}
}
