@import "../../libs";

.create-board-container {
	position: fixed;
	bottom: 4rem;
	right: 4rem;

	@include if-small-device {
		bottom: 3rem;
		right: 1rem;
	}

	.create-board-btn {
		background-color: #ff5500;
		padding: 8px;
		border-radius: 50%;
		box-shadow: 0px 1px 6px 0px #616160;
		color: $color-white;
	}

	.create-board-btn:hover {
		cursor: pointer;
	}
}
