html {
	height: 100%;

	body {
		cursor: default;
		padding: 0;
		margin: 0;
		height: 100%;
		font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
			Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
			"Noto Sans KR", "Malgun Gothic", sans-serif;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			padding: 0;
			margin: 0;
			font-weight: 600;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		a:hover {
			color: inherit;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		* {
			box-sizing: border-box;
		}

		.mantine-Modal-root {
			.mantine-Modal-header {
				.mantine-Modal-title {
					font-weight: bold;
					font-size: 1.2rem;
				}
			}
		}
	}
}
