body {
	cursor: default;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Noto Sans KR", Sans-serif;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 0;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: inherit;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	* {
		box-sizing: border-box;
	}
}
